/* line 35, ../../sass/admin/admin.scss */
root {
    display: block;
}

/* line 38, ../../sass/admin/admin.scss */
.row {
    clear: both;
}

/* line 41, ../../sass/admin/admin.scss */
.oneline {
    float: left;
}

/* line 46, ../../sass/admin/admin.scss */
.deleteStruct {
    background: url("../img/delete.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-background-size: 24px;
    -moz-background-size: 24px;
    -o-background-size: 24px;
    background-size: 24px;
    margin-right: 5px;
}

/* line 55, ../../sass/admin/admin.scss */
.editStruct {
    background: url("../img/edit.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-background-size: 24px;
    -moz-background-size: 24px;
    -o-background-size: 24px;
    background-size: 24px;
    margin-right: 5px;
}

/* line 64, ../../sass/admin/admin.scss */
.addStruct {
    background: url("../img/add.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -webkit-background-size: 24px;
    -moz-background-size: 24px;
    -o-background-size: 24px;
    background-size: 24px;
    margin-right: 5px;
}

/* line 73, ../../sass/admin/admin.scss */
.elementMenu {
    border: 1px solid #c6d880;
    margin: 5px 0;
    height: 20px;
    position: relative;
    padding: 10px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* line 80, ../../sass/admin/admin.scss */
.elementMenu.selected {
    background: #aaaa11;
}
/* line 83, ../../sass/admin/admin.scss */
.elementMenu:hover {
    background: #ffffbb;
}

/* line 87, ../../sass/admin/admin.scss */
.imagesFromList {
    text-align: center;
    border: 1px solid;
    padding: 5px;
    margim: 1px;
    height: 120px;
}
/* line 93, ../../sass/admin/admin.scss */
.imagesFromList img {
    max-width: 100px;
    max-height: 100px;
}

/* line 98, ../../sass/admin/admin.scss */
#imagesList {
    width: 100%;
    overflow-x: scroll;
}

/* line 102, ../../sass/admin/admin.scss */
#headAdmin {
    font-size: 32px;
    width: 100%;
    text-align: center;
    background: gainsboro;
}

/* line 108, ../../sass/admin/admin.scss */
#menuAdmin {
    width: 100%;
    text-align: center;
    background: gainsboro;
    margin: 5px 0;
}

/* line 114, ../../sass/admin/admin.scss */
.buttonMenu {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    width: 100px;
    background: #fcfcfc;
    cursor: pointer;
}
/* line 122, ../../sass/admin/admin.scss */
.buttonMenu a {
    color: black;
}
/* line 125, ../../sass/admin/admin.scss */
.buttonMenu.select {
    background: #fafa44;
}
/* line 128, ../../sass/admin/admin.scss */
.buttonMenu:hover {
    background: #fafa99;
}

/* line 132, ../../sass/admin/admin.scss */
#leftWindow {
    width: 300px;
    margin-right: 20px;
}

/* line 136, ../../sass/admin/admin.scss */
.el-baner {
    width: 300px;
    height: 280px;
    position: relative;
}

/* line 141, ../../sass/admin/admin.scss */
.baner-text {
    color: #ecec19;
    background-image: url("../img/fonLine.png");
    width: 400px;
    height: 100px;
    display: table;
    position: absolute;
    right: 100px;
    bottom: 50px;
    /* (1) display was set before: old value: table - new value none */
}

/* line 152, ../../sass/admin/admin.scss */
.baner-msg {
    width: 300px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-right: 1px solid white;
}

/* line 160, ../../sass/admin/admin.scss */
.baner-link {
    width: 90px;
    display: table-cell;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
